*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.one{
    grid-row: 1/4;
}

.two{
    grid-column: 2/4;
}

.six{
    grid-row: 2/4;
    grid-column: 4/5;
}

